/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Petit+Formal+Script|Oswald:400,300,700);

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}



body {
    font-family: $base-font-family;
    background: #fff;
    font-weight: 400;
    overflow: scroll;
    overflow-x: hidden;
}

a {
	color: #555;
	text-decoration: none;
}

.container {
	width: 100%;
	position: relative;
}

.container > header {
	width: 90%;
	max-width: 77.5em;
	margin: 0 auto;
	position: relative;
	padding: 1.875em;
}

.main {
	padding-bottom: 5em;
}

.container > header h1 {
	font-family: 'Petit Formal Script';
	font-size: 2.125em;
	line-height: 2.375em;
	margin: 0;
	font-weight: 700;
	color: #333;
	float: left;
}

.container > header h1 span {
	display: block;
	font-family: 'Petit Formal Script';
	font-size: 1.250em;
	line-height: 1.625em;
	font-weight: 700;
}

h4 {
	font-family: 'Petit Formal Script';	
	color: #A81111;
}

h6 {
	font-family: 'Petit Formal Script';	
	color: #A81111;
}